{% load static %}
<div class="footer-container">
    <!-- contact-us -->
    <div class="contact">
        <div class="footer-title">
            Contact us
        </div>
        <div class="contact-info">
            <div class="contact-location">
                <img src="{% static 'img/home_icon.png' %}" alt="">
                <p><a href="">Aung fatehpur uttar pradesh india-212665</a></p>
            </div>
            <div class="contact-email">
                <img src="{% static 'img/msg icon.png' %}" alt="">
                <p><a href="">contact@vigybag.com</a></p>
            </div>
            <div class="contact-ph-number">
                <img src="{% static 'img/call icon.png' %}" alt="">
                <p><a href="">+91 1234567890</a></p>
            </div>
        </div>
    </div>
    <!-- Quick Links -->
    <div class="quick-links" id="bottom">
        <div class="footer-title">
            Quick Links
        </div>
        <div class="quick-links-info">
            <div><a href="">About us</a></div>
            <div><a href="">Contact us</a></div>
            <div><a href="">Order</a></div>
            <div><a href="">help</a></div>
        </div>
    </div>
    <div class="social">
        <div class="footer-title">
            Social connection
        </div>
        <div class="social-container">
            <div class="social-div">
                <div>
                    <a href="https://twitter.com/codervivek5"><img src="{% static 'img/Twitter (1).png' %}" alt=""></a>
                    <p><a href="">Twitter</a></p>
                </div>
                <div>
                    <a href="https://www.instagram.com/coder_vivek/"><img src="{% static 'img/Instagram (2).png' %}"
                            alt=""></a>
                    <p><a href="">Instagram</a></p>
                </div>
                <div>

                    <a href=""><img src="{% static 'img/LinkedIn Circled.png' %}" alt=""></a>
                    <p><a href="">LinkedIn</a></p>

                </div>
                <div>
                    <a href=""><img src="{% static 'img/facebook.png' %}" alt=""></a>
                    <p><a href="">Facebook</a></p>
                </div>
            </div>
        </div>

    </div>
</div>